:root{
    --light-gray: #3a465c;
    --dark-gray: #2e3746;
    --light-orange: #fb8231;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{    
    background-color: var(--light-gray);
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container main{
    border-radius: 9px;
    background-color: azure;
    width: 20rem;
    overflow: hidden;
}

.result{
    background-color: var(--dark-gray);
    padding: 1.5rem;
}

#content{
    text-align: end;
}

.operator, .number{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 10px;
    font-size: 1.2rem;
}

#data-0{
    width: 130px;
}

#data-clear{
    width: 210px;
}